* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #040714;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
